<div ng-controller="AppointmentsController as appointments">
  <button type="button" class="btn btn-primary" ng-click="newAppointment('show')" ng-hide="showAppForm">New appointment</button>
  <button type="button" class="btn btn-primary" ng-click="newAppointment('close')" ng-show="showAppForm">Close form</button>
  <new-appointment-form></new-appointment-form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title of appointment</th>
        <th>Date and time</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="appointment in appointments.appointments">
        <td>{{appointment.title}}</td>
        <td>{{appointment.start_time | date : 'hh:mm:ss MMM d, y'}}</td>
      </div>
    </tbody>
  </table>
</div>
